body
{
	background-color:#D4D6D7;
	margin:0px;
	width:100%;
	font-family: 'Ubuntu', 'Helvetica', 'Arial';
}

.blueheader
{
	font-weight: bold;
	font-size: 135%;
	width: 100%;
	text-align:center;
	margin:5px 0px;
	padding-left: 10px;
	padding-top:5px;
	border-top: 1px solid #BFC0C2;
}

.bluesep
{
	width:100%;
	margin:10px 0px 10px 0px;
	border-top: 2px solid #6fa6d7;
}

.comboBox
{
	width: 200px;
	background-color: #F5F5F5;
	color: #000000;
	margin:-8px 0px 0px 0px;
	font-family: 'Ubuntu', 'Helvetica';
	border: 1px solid #111111;
}

.inputT
{
	font-family: 'Ubuntu', 'Helvetica';
	background-color: #F5F5F5;
	color: #000000;
	border: 1px solid #111111;
}

.inputB
{
	background-color: #F5F5F5;
	color: #000000;
	border:1px solid #111111;
	font-weight:bold;
}

.inputB:hover
{
	background-color:#6c6cff;
	color:#1b1b1b;
}

.inputEdit
{
	background-color: #F5F5F5;
	color: #000000;
	font-family: 'Ubuntu', 'Helvetica';
	border:1px solid #111111;
}

.commenttext
{
	background-color: #F5F5F5;
	color: #000000;
	border: 1px solid #111111;
	font-family: 'Ubuntu', 'Helvetica';
}

.formRow
{
  width:100px;
  float:left;
}

.bigText
{
	font-size:150%;
	font-weight:bold;
	margin: 10px 0px 10px 0px;
	padding: 5px 0px 5px 20px;
	background-color:#BFC0C2;
}

.cppcode
{
	font-family:'Courier New';
}

.donateTable
{
  border-collapse:collapse;
  border-style:solid;
  border-width:3px;
  padding-top:5px;
  padding-bottom:5px;
  margin-top:5px;
  margin-bottom:5px;
}

.donateTable td
{
  border-collapse:collapse;
  border-style:solid;
  border-color:#BFC0C2;
  border-width:3px;
  padding-top:5px;
  padding-bottom:5px;
  background-color: #FFFFFF;
  color: #000000;
}

#topmenu
{
	margin:0 auto;
	font-size: 20px;
	padding-top:50px;
	padding-bottom:30px;
	display: table;
}

#topad
{
	margin:0 auto;
	display: table;
}

#topmenu a
{
  color: #4A4B52;
  text-decoration: none;

}

#topmenu a:hover
{
  background-color: #98ADBB;
}

.topmenuawrapper
{
  border-right:2px solid #1F2023;
  float:left;
  padding-left:10px;
  padding-right:10px;
}

.topmenuawrapperend
{
  float:left;
  padding-left:10px;
  padding-right:10px;
}

#logowrapper
{
  background-color: #BFC0C2;
  padding-top:40px;
  padding-bottom:40px;
  font-size: 20px;
  //padding-left: 12%;
  margin-bottom:10px;
  color: #494B4E;
  display: table;
  table-layout: fixed;
  width: 100%;
}

#logowrapper img
{
	float: left;
	margin-right:5px;
}

#logoText
{
	font-size: 40px;
	display: table-cell;
	vertical-align: middle;
	line-height:100%;
	width:50%;
	border:5 px solid red;
	padding-left:12%;
}

#themeSwitch
{
	display: table-cell;
	width:100%;
	vertical-align: bottom;
	text-align: right;
	padding-right:10px;
	border:1 px solid green;	
}

#logoText span
{
	font-size: 20px;
}

#threecolumner
{
	width:100%;
	display:table;
	table-layout: fixed;
}

#leftad
{
	width:15%;
	display:table-cell;
	background-color: #BFC0C2;
	text-align:center;
	padding-top:10px;
}

#rightad
{
	width:15%;
	background-color: #BFC0C2;
	display: table-cell;
	text-align:center;
	padding-top:10px;
}

#content
{
	color: #1F2023;
	width:100%;
    padding:10px;  
    display:table-cell;
    vertical-align: top;
}

#content a
{
	text-decoration: none;
	color: #3088C2;
}

#content a:hover
{
	text-decoration: none;
	color: #87BEE2;
}

.newsheader
{
	font-weight:bold;
	font-size:25px;
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom: 1px solid black;
}

.newsdate
{
	font-style: italic;
	font-size:20px;
	padding-bottom:10px;
	margin-bottom:10px;
}

#footer
{
	background-color: #BFC0C2;
	border-top:1px solid black;
	padding:10px 0;
	display:table;
	table-layout: fixed;
	width:100%;
}

#footermenu
{
	width:24%;
	display:table-cell;
	text-align:right;
	vertical-align: top;
}

#footermenu a
{
  color: #2772A3;
  text-decoration: none;
  	
}

#footermenu a:hover
{
  color: #1D5377;
  text-decoration: underline;	
}

#footerstats
{
	width:100%;
	display:table-cell;
	vertical-align: top;
	text-align:center;
	padding-top:20px;
}

#footersocial
{
	width:34%;
	display:table-cell;
	vertical-align: top;
}

.imager
{
	display: table;
	background-color: white;
	padding:2px;
	border: 2px solid black;
    border-radius: 10px;
	margin-right: 10px; 
}

.coder
{
	display: table;
	background-color: white;
	padding:2px;
	border: 2px solid black;
    border-radius: 10px;
	width:100%;
	font-family: 'Courier New';
}